#review-add {
  opacity: 1 !important;
  border: solid thin;
  width: 250px;
  max-width: 250px;
  margin-bottom: 10px;
}

.buttons-all {
  background-color: black !important;
  margin-right: 10px;
}
.codehilite {
  background-color: white;
}
