**/__pycache__
config.yaml
config.sample.yaml

# DB Seeder
seedman/bin/**
/seedman/bin/**
seedman/bin
/seedman/bin
seedman/schema.sql 
seedman/seed_data.json
seedman/*.json
seedman/schema.sql

build
**/*.so
**/*.kitescratch
backend_assets
.vscode/settings.json

**/piccolo_migrations
**/piccolo_migrations/**
**/piccolo_migrations/__init__.py
**/piccolo_migrations/*