ruamel.yaml
fastapi[all]
pydantic # Just in case
piccolo-admin # this already pulls in piccolo ORM as well
orjson
bleach
cmarkgfm
msgpack
aioredis
maplecache
aenum # enums.py...
discord.py
aiohttp # Just in case...
uvicorn[standard]
pytz